<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>美食</title>
		<link rel="stylesheet" th:href="@{/css/lightbox.css}" media="screen">
		<link th:href="@{/css/style.css}" rel="stylesheet" media="all" />
		<script th:src="@{/js/jquery-1.8.3.min.js}"></script>
		<script th:src="@{js/jquery.lightbox.js}"></script>
	</head>
	<body>
		<!---start-wrap---->
		<div class="header">
			<div class="clear"> </div>
			<!---End-header---->
		</div>
		<div class="top-nav">
				<div class="wrap">
					<ul>
						<li class="active1"><a href="index.html">首页</a></li>
						<li><a href="about.html">景点</a></li>
						<li><a href="services.html">酒店</a></li>
						<li><a href="22-gallery.html">美食</a></li>
						<li><a href="contact.html">旅游线路</a></li>
						<div class="clear"> </div>
					</ul>
				</div>
			</div>
	<div class="content">
		<div class="wrap">
			<div class="clear"> </div>
			<!---start-image-gallery---->
			<div class="gallerys">
					<h3>美食</h3><h5> </h5><div class="clear"> </div>
					<div class="gallery-grids">
						<div class="gallery-grid">
							<a th:href="@{/images/slider1.jpg}"><img th:src="@{/images/slider1.jpg}" alt=""></a>
							<h4>阳朔</h4>
							<p>阳朔县位于广西壮族自治区东北部，桂林市区南面，地处东经110°13′－110°40′，北纬24°28′-25°4′。 东邻恭城县、平乐县，南邻荔浦县，西界永福县、临桂区，北与灵川县、雁山区接壤，县域面积1428.38平方公里。</p>
							<div class="gallery-button"><a href="#">阅读更多</a></div>
						</div>
						<div class="gallery-grid">
							<a th:href="@{/images/slider1.jpg}"><img th:src="@{/images/slider1.jpg}" alt=""></a>
							<h4>阳朔</h4>
							<p>阳朔县位于广西壮族自治区东北部，桂林市区南面，地处东经110°13′－110°40′，北纬24°28′-25°4′。 东邻恭城县、平乐县，南邻荔浦县，西界永福县、临桂区，北与灵川县、雁山区接壤，县域面积1428.38平方公里。</p>
							<div class="gallery-button"><a href="#">阅读更多</a></div>
						</div>
						<div class="gallery-grid">
							<a th:href="@{/images/slider1.jpg}"><img th:src="@{/images/slider1.jpg}" alt=""></a>
							<h4>阳朔</h4>
							<p>阳朔县位于广西壮族自治区东北部，桂林市区南面，地处东经110°13′－110°40′，北纬24°28′-25°4′。 东邻恭城县、平乐县，南邻荔浦县，西界永福县、临桂区，北与灵川县、雁山区接壤，县域面积1428.38平方公里。</p>
							<div class="gallery-button"><a href="#">阅读更多</a></div>
						</div>
						<div class="gallery-grid">
							<a th:href="@{/images/slider1.jpg}"><img th:src="@{/images/slider1.jpg}" alt=""></a>
							<h4>阳朔</h4>
							<p>阳朔县位于广西壮族自治区东北部，桂林市区南面，地处东经110°13′－110°40′，北纬24°28′-25°4′。 东邻恭城县、平乐县，南邻荔浦县，西界永福县、临桂区，北与灵川县、雁山区接壤，县域面积1428.38平方公里。</p>
							<div class="gallery-button"><a href="#">阅读更多</a></div>
						</div>
						<div class="gallery-grid">
							<a th:href="@{/images/slider1.jpg}"><img th:src="@{/images/slider1.jpg}" alt=""></a>
							<h4>阳朔</h4>
							<p>阳朔县位于广西壮族自治区东北部，桂林市区南面，地处东经110°13′－110°40′，北纬24°28′-25°4′。 东邻恭城县、平乐县，南邻荔浦县，西界永福县、临桂区，北与灵川县、雁山区接壤，县域面积1428.38平方公里。</p>
							<div class="gallery-button"><a href="#">阅读更多</a></div>
						</div>
						<div class="gallery-grid">
							<a th:href="@{/images/slider1.jpg}"><img th:src="@{/images/slider1.jpg}" alt=""></a>
							<h4>阳朔</h4>
							<p>阳朔县位于广西壮族自治区东北部，桂林市区南面，地处东经110°13′－110°40′，北纬24°28′-25°4′。 东邻恭城县、平乐县，南邻荔浦县，西界永福县、临桂区，北与灵川县、雁山区接壤，县域面积1428.38平方公里。</p>
							<div class="gallery-button"><a href="#">阅读更多</a></div>
						</div>
						<div class="gallery-grid">
							<a th:href="@{/images/slider1.jpg}"><img th:src="@{/images/slider1.jpg}" alt=""></a>
							<h4>阳朔</h4>
							<p>阳朔县位于广西壮族自治区东北部，桂林市区南面，地处东经110°13′－110°40′，北纬24°28′-25°4′。 东邻恭城县、平乐县，南邻荔浦县，西界永福县、临桂区，北与灵川县、雁山区接壤，县域面积1428.38平方公里。</p>
							<div class="gallery-button"><a href="#">阅读更多</a></div>
						</div>
						<div class="gallery-grid">
							<a th:href="@{/images/slider1.jpg}"><img th:src="@{/images/slider1.jpg}" alt=""></a>
							<h4>阳朔</h4>
							<p>阳朔县位于广西壮族自治区东北部，桂林市区南面，地处东经110°13′－110°40′，北纬24°28′-25°4′。 东邻恭城县、平乐县，南邻荔浦县，西界永福县、临桂区，北与灵川县、雁山区接壤，县域面积1428.38平方公里。</p>
							<div class="gallery-button"><a href="#">阅读更多</a></div>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="clear"> </div>
				  	<script type="text/javascript">
						$(function() {
							$('.gallery-grid a').lightBox();
						});
				    </script>
				    <div class="clear"> </div>
				    <div class="projects-bottom-paination">
						<ul>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
						</ul>
					</div>
				</div>
			<!---End-image-gallery---->
			<div class="clear"> </div>
		</div>
	</div>
	<div style="text-align: center; background: #fff;padding: 4vw 0px;">
		<div th:replace="~{/common/footer :: footer}"></div>
	</div>
</body>
</html>

