<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新闻</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
</head>
<body>
    <div th:replace="~{/common/header_bootstrap :: header_bootstrap}"></div>

    <div th:replace="~{/common/footer_bootstrap :: footer_bootstrap}"></div>
</body>
</html>